@model List<Empleado>

@{
    ViewData["Title"] = "PaginarGrupoDepartamento";
    int numeroregistros = (int)ViewData["REGISTROS"];
    int numeropagina = 1;
}

<h4>Vista Empleados</h4>

<ul class="list-group list-group-horizontal">
    @for (int i = 1; i <= numeroregistros; i += 3)
    {
        <li class="list-group-item list-group-item-info">
            <a asp-asp-controller="Empleados" a-action="Index" asp-route-deptno="@ViewData["DEPTNO"]" asp-route-posicion="@i">
                @numeropagina
            </a>
        </li>
        numeropagina += 1;
    }
</ul>

@if (Model != null)
{
    <table class="table table-active table-hover w-100 table-bordered text-center">
        <thead>
            <tr>
                <th>Id</th>
                <th>Apellido</th>
                <th>Oficio</th>
                <th>Salario</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Empleado emp in Model)
            {
                <tr>
                    <td>@emp.IdEmpleado</td>
                    <td>@emp.Apellido</td>
                    <td>@emp.Oficio</td>
                    <td>@emp.Salario</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h4>Ningún departamento seleccionado</h4>
}

